// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>
/**
 * Custom CSS for Grid editor
 */

/* Add notice to unsupported grid types */
.grid-new-element {

  > .grid-new-container-slots {
    position: relative;

    &:before {
      content: "No Theme Support";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      margin-top: #{-12px/2};
      transform: rotate(-3deg);
      text-align: center;
      line-height: 12px;
      font-size: 12px;;
      color: red;
      text-transform: uppercase;
      pointer-events: none;
    }

    > .grid-slot {
      opacity: 0.3;
    }
  }

  /* Allowed grid container types: */
  &[data-type="c-1d1"],
  &[data-type="c-1d4-1d4-1d4-1d4"] {
    > .grid-new-container-slots {

      &:before {
        content: none;
      }

      & > .grid-slot {
        opacity: 1;
      }
    }
  }
}

.grid-container {
  position: relative;

  &:before {
    content: "No Theme Support";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 15px;
    transform: rotate(-3deg);
    text-align: center;
    line-height: 20px;
    font-size: 20px;;
    color: red;
    text-transform: uppercase;
    pointer-events: none;
  }

  > .grid-container-content {
    opacity: 0.3;
  }

  /* Allowed grid container types: */
  &[data-type="c-1d1"],
  &[data-type="c-1d4-1d4-1d4-1d4"] {
    &:before {
      content: none;
    }

    & > .grid-container-content {
      opacity: 1;
    }
  }
}
