// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>

.grid-box-video {
  // Padding-bottom method for responsive 16:9 aspect ratio
  > .grid-box-content {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 9/16*100%;

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
