// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>

.ph-animation-delay-1 {
  transition-delay: $speed;
}

.ph-animation-hover-color {
  transition: color $speed $ease;

  &:hover,
  &:focus {
    transition: none;
  }
}

.ph-animation-hover-border-color {
  transition: border-color $speed $ease;

  &:hover,
  &:focus {
    transition: none;
  }
}

.ph-animation-hover-background-color {
  transition: background-color $speed $ease;

  &:hover,
  &:focus {
    transition: none;
  }
}
