// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>

.ph-indicator-wrapper {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  cursor: default;
  background-color: black;
  transition: opacity $speed-slow $ease;
  z-index: 40;
  opacity: 0;

  body.is-loaded & {
    opacity: 1;
  }
}

.ph-indicator {
  position: relative;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top left;
  background-color: $accent;
  // transition: height 0.05s $ease;
}
