/**
 * @author Kim-Christian Meyer <kim.meyer@palasthotel.de>
 */

.ph-search-form {
  position: relative;

  .grid-box-404 & {
    margin-top: 6*$base-unit;
  }
}

input[type="text"].ph-search-input {  // we need higher css level
  padding: $base-unit*3/2 0;
  max-width: none;
  @extend %f28-35--f38-45;
  @extend .ph-animation-hover-border-color;
  font-weight: 400;
  background-color: transparent;
  border-bottom: 2px solid $gray;
  &:focus {
    outline: none;
    border-color: $accent;
    background-color: transparent;
  }

  .widget & {
    padding: 0;
    border-width: 1px;
    @extend %f14-19--f17-28;
    line-height: 34px !important;
  }
}

input[type="text"].ph-search-input-overlay {  // we need higher css level
  color: white;
}

.ph-search-input-page {
  color: black;
  border-color: $gray-light !important;
  padding-left: 50px !important;

  @include bp($breakpoint-grid-2) {
    padding-left: 70px !important;
  }

  &:focus {
    border-color: $accent !important;
  }

  .widget & {
    padding-left: 30px !important;
  }
}

.ph-search-btn-overlay {
  display: none;
}

.ph-search-btn {
  position: absolute;
  left: 0;
  top: 15px;
  background-color: transparent;
  @extend %f19-33--f32-45-icon;
  padding: 1px 11px 0 11px;

  @include bp($breakpoint-grid-2) {
    top: 12px;
    padding: 5px 15px 5px 15px;
  }

  .widget & {
    top: 0;
    padding: 0 8px;
    @extend %f14-33;
  }
}
