// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>
/**
 * Breakpoint classes, which toggle visibility
 */

.ph-bp-mobile-only {
  @include bp($breakpoint-tablet) {
    display: none !important;
  }
}

.ph-bp-tablet-inline,
.ph-bp-tablet-inline-block {
  display: none;
}

.ph-bp-tablet-inline {
  @include bp($breakpoint-tablet) {
    display: inline;
  }
}

.ph-bp-tablet-inline-block {
  @include bp($breakpoint-tablet) {
    display: inline-block;
  }
}
