// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>

.ph-search-form {
  position: relative;

  .grid-box-404 & {
    margin-top: 6*$base-unit;
  }

  .ph-overlay-search > & {
    @extend .ph-overlay-content;
  }
}

[type="text"].ph-search-input {  // We need higher css level
  padding: $base-unit*3/2 0;
  max-width: none;
  @extend %f28-35--f38-45;
  @extend .ph-animation-hover-border-color;
  font-weight: 400;
  background-color: transparent;
  border-bottom: 2px solid $gray;

  &:focus {
    outline: none;
    border-color: $accent;
    background-color: transparent;
  }

  /* WordPress search widget */
  .widget & {
    padding: 0 0 0 32px;
    border-width: 1px;
    @extend %f14-19--f17-28;
    line-height: 34px !important;
  }

  .ph-overlay-search & {
    color: white;
  }

  .content-area & {
     color: black;
     border-color: $gray-light !important;
     padding-left: 50px !important;

     @include bp($breakpoint-grid-2) {
       padding-left: 70px !important;
     }

     &:focus {
       border-color: $accent !important;
     }

     .widget & {
       padding-left: 30px !important;
     }
   }
}

[type="submit"].ph-search-btn {  // We need higher css level
  position: absolute;
  left: 0;
  top: 15px;
  background-color: transparent !important;
  color: black !important;
  @extend %f19-33--f32-45-icon;
  padding: 1px 11px 0 11px;

  @include bp($breakpoint-grid-2) {
    top: 12px;
    padding: 5px 15px 5px 15px;
  }

  .ph-overlay-search & {
    display: none;
  }

  .widget & {
    top: 0;
    padding: 0 8px;
    @extend %f14-33;
  }
}
