// SASS and compass stuff, not generating any css so far
// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>

// breakpoint switcher
$bp-print-queries: true;
$bp-print-ie-layout: false;
$bp-use-ie-selector: false;

@import "mixins"; // custom mixins
