// A collection of useful mixins.
//
// @author Kim-Christian Meyer, kim.meyer@palasthotel.de


// Best and simplest clearfix right now
// @see http://cssmojo.com/the-very-latest-clearfix-reloaded/
@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


$bp-print-queries: true !default;
$bp-print-ie-layout: false !default;
$bp-use-ie-selector: false !default;
$bp-ie-layout-breakpoint: 980px !default;
// This is a standard media query mixin, with the option to add a layout for ie8
// or lower. It will bring in all min-width styles without a max constraint as#
// well as any styles that meet the 980 threshold.
// @url https://drupal.org/node/1539682#comment-6481394
@mixin breakpoint($min-width, $max-width: false) {
  @if ($bp-print-queries) {
    @if ($max-width) {
      @media all and (min-width: $min-width) and (max-width: $max-width) {
        @content;
      }
    }
    @else {
      @media all and (min-width: $min-width) {
        @content;
      }
    }
  }
  @if ($bp-print-ie-layout) {
    @if ($bp-use-ie-selector) {
      .lt-ie9 & {
        @content;
      }
    }
    @else {
      @content;
    }
  }
}

// Shorthand for @mixin breakpoint
@mixin bp($min-width, $max-width: false) {
  @include breakpoint($min-width, $max-width) {
    @content;
  }
}
