// @author Kim-Christian Meyer <kim.meyer@palasthotel.de>

img {
  display: block;

  /**
   * Remove border when inside `a` element in IE 8/9.
   */
  border: 0;

  .ph-article-text & {
    width: 100%;
    height: auto;
  }
}
